---
const personalImageAlt = 'Tewayne';
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
	<div class="[&>p]:mb-4 [&>p>strong]:text-blue-800 [&>p]:text-zinc-800 dark:[&>p]:text-zinc-100 dark:[&>p>strong]:text-blue-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
		<p>
			Hi, I'm Tewayne. <strong>I'm a Full-Stack Software Engineer with over 7 years of experience building interactive, high-performance web applications and real-time platforms.</strong> I've collaborated with leading tech companies, always focused on creating impactful, scalable solutions across both frontend and backend.
			<p>
			<strong>Most recently, I've contributed to products like Kiswe's live fan engagement platform, Coolmath Games’ multiplayer game engine, and Files.com's developer SDK suite.</strong> From real-time multiplayer games to large-scale file automation systems, I enjoy tackling complex technical challenges while delivering smooth user experiences. I’m passionate about clean architecture, performance, and building tools that users and developers love.
			</p>
		</p>
	</div>
	<!-- <img src="/me.webp" class="size-72 order-1 md:order-2" alt={personalImageAlt} /> -->
</article>
